beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
click==6.7
cycler==0.10.0
Django==1.11.7
django-bootstrap3==9.1.0
Flask==0.12.2
future==0.16.0
get==1.0.0
idna==2.6
itchat==1.2.32
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.2.2
mysql-connector==2.1.6
numpy==1.14.2
Pillow==5.1.0
post==1.0.0
public==1.0.0
pygame==1.9.3
pymongo==3.6.1
PyMySQL==0.8.0
pyparsing==2.2.0
pypng==0.0.18
PyQRCode==1.2.1
pytesseract==0.2.0
python-dateutil==2.7.2
pytz==2018.3
query-string==1.0.0
request==1.0.0
requests==2.18.4
selenium==3.11.0
six==1.11.0
urllib3==1.22
virtualenv==15.2.0
Werkzeug==0.14.1
wxpy==0.3.9.8
you-get==0.4.1060
